body {
    background: #f5f5f5;
}

.topbar {
    background: #0d6efd;
    color: white;
    padding: 6px 20px;
    font-size: 15px;
}

    .topbar span {
        margin-right: 20px;
    }

.navbar-brand {
    font-size: 32px;
    font-weight: bold;
    color: #0b5ed7 !important;
}


.sidebar {
    background: #e7f1ff;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
}

    .sidebar a {
        display: block;
        padding: 8px 0;
        color: #333;
        text-decoration: none;
    }

.sidebar a:hover {
    color: #0d6efd;
}

.book-card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    transition: 0.3s;
}

    .book-card:hover {
        transform: translateY(-5px);
    }

    .book-card img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 6px;
    }

.book-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.book-price {
    color: #0d6efd;
    font-weight: bold;
}
