<h2 class="text-center mb-4">Quên mật khẩu</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MesseType"] text-center">
        @TempData["Message"]
    </div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input name="email" type="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary w-100">Gửi mật khẩu mới</button>
</form>
